@model MVC.ViewModels.AuthorDTO

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this author?</h3>
<div>
    <hr />
    <div class="col-md-3" style="text-align:center">
        <img src="@Url.Action("DownloadFile", "Book", new { id = Model.FileModelId})" style="height:180px;" alt="No Image Available" />
    </div>
    <div class="col-md-9">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateOfBirth)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateOfDeath)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateOfDeath)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AboutAuthor)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AboutAuthor)
            </dd>

        </dl>

        <span><strong>If you delete this author, you will delete the folowing books:</strong></span>
        <table>
            @foreach (var item in Model.Books)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                </tr>
            }
        </table>
    </div>
    <br />
    <br />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" />
            @Html.ActionLink("Back to List", "Index", new { id = Model.ID }, new { @class = "btn btn-success" })
        </div>
    }

</div>